body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header, footer {
    width: 100%;
}

.logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain; /* Adjust background-size as needed */
    height: 30px;
    width: 100px; /* Adjust width as needed */
}
